:root {
    --background-dark: black;
    --text-dark: white;
    --background-light: white;
    --text-light: #000;
    /* ou outra cor preta que você deseja */
    --btn-background-dark: #B71515;
    --btn-text-dark: white;
    --btn-hover-shadow-dark: 0px 0px 8px #740808;
    --menu-background-dark: #000;
    --menu-background-light: #f8f9fa;
    --form-input-background-dark: #242424;
    --form-input-text-dark: #fff;
    --form-input-background-light: #ddd;
    --form-input-text-light: #000;
    --overlay-menu-background-dark: #000000a7;
    --overlay-menu-background-light: rgba(255, 255, 255, 0.7);
    --btn-background-dark: #B71515;
    /* Cor vermelha usada no site */
    --background-light-gray: #f2f2f2;
    /* Exemplo de cor cinza claro */
}

body {
    background-color: var(--background-dark);
    color: var(--text-dark);
    height: 100vh;
}


[data-theme="light"] {
    background-color: var(--background-light);
    color: var(--text-light);
}

[data-theme="light"] {
    --text-dark: var(--text-light);
    /* Sobrescreve a cor do texto para usar a cor clara */
}

/* Ajustando as cores de texto para o modo claro */
[data-theme="light"] .txt-topo-site h1,
[data-theme="light"] .txt-topo-site span,
/* Se você tiver elementos span que precisam da cor alterada */
[data-theme="light"] .topo-do-site .txt-topo-site p {
    color: var(--text-light);
    /* Definindo a cor do texto para preto (ou a cor especificada em --text-light) */
}

[data-theme="light"] .especiliadades {
    background-color: var(--background-light-gray);
    /* Usa a cor cinza claro definida */
}

/* Cor de fundo cinza claro para o header no modo light */
[data-theme="light"] header {
    background-color: #f2f2f2;
    /* Um cinza claro */
}

/* Cor de fundo claro para a seção portfolio no modo light */
[data-theme="light"] .portfolio {
    background-color: #f2f2f2;
    /* Um cinza claro */
}

/* Cor de fundo claro para a seção footer no modo light */
[data-theme="light"] footer {
    background-color: #f2f2f2;
    /* Um cinza claro */
}

/* Define a cor do texto dos links do menu no modo light */
[data-theme="light"] nav ul li a {
    color: var(--text-light);
    /* Define a cor do texto para preto no modo claro */
}

/* Adiciona efeito hover nos links do menu no modo light, mudando a cor para vermelho */
[data-theme="light"] nav ul li a:hover {
    color: var(--btn-background-dark);
    /* Muda a cor para vermelho no hover */
}

/* Altera a cor do texto para preto no menu mobile quando o tema light está ativo */
[data-theme="light"] .menu-mobile nav ul li a {
    color: #000; /* Cor preta para o texto */
}

/* Altera a cor do texto e do ícone do e-mail no rodapé para o modo claro */
[data-theme="light"] .line-footer.borda p,
[data-theme="light"] .line-footer.borda p a,
[data-theme="light"] .line-footer.borda p i {
    color: var(--text-light);
    /* Define a cor do texto para preto (ou qualquer cor definida em --text-light) no modo claro */
}

[data-theme="light"] .txt-topo-site,
[data-theme="light"] .especialidades-box,
[data-theme="light"] .txt-sobre,
[data-theme="light"] .txt-topo-site h1,
[data-theme="light"] .txt-topo-site p,
[data-theme="light"] .txt-topo-site span [data-theme="light"] .topo-do-site .txt-topo-site p,
[data-theme="light"] h1,
[data-theme="light"] h2,
[data-theme="light"] h3,
[data-theme="light"] p {
    color: var(--text-dark);
    /* Isso deve aplicar a cor preta quando no tema claro */
}

/* Corrigindo a aplicação das cores do modo claro */
[data-theme="light"] {
    --btn-background-dark: #B71515;
    /* Cor do botão no modo claro */
    --menu-background-dark: var(--menu-background-light);
    /* Cor de fundo do menu no modo claro */
    --form-input-background-dark: var(--form-input-background-light);
    /* Cor de fundo dos inputs no modo claro */
    --form-input-text-dark: var(--form-input-text-light);
    /* Cor do texto dos inputs no modo claro */
    --overlay-menu-background-dark: var(--overlay-menu-background-light);
    /* Cor de fundo do overlay do menu no modo claro */
}

/*ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--btn-background-dark);
    border: 0;
    border-radius: 30px;
    color: var(--btn-text-dark);
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: var(--btn-hover-shadow-dark);
    transform: scale(1.05);
}

h2.titulo {
    color: var(--text-dark);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--btn-background-dark);
}

/*ESTILO DO CABEÇALHO*/

header {
    padding: 40px 4%;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(171, 171, 171);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: white;
    transform: scale(1.05);
}

header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO MENU MOBILE*/

.btn-abrir-menu i {
    color: #B71515;
    font-size: 40px;
}

.btn-abrir-menu {
    display: none;
}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.btn-abrir-menu ˜ .overlay-menu {
    display: block;
}


.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #740808;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #740808;

}

/* Certifique-se que as variáveis de cor estejam sendo usadas corretamente em todo o CSS */
.menu-mobile,
.overlay-menu {
    background-color: var(--menu-background-dark);
}

form input,
form textarea {
    background-color: var(--form-input-background-dark);
    color: var(--form-input-text-dark);
}

.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*ESTILO DO TOPO DO SITE*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #740808;
    font-size: 84px;
}


.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #5f1414;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #B71515;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* SOBRE MIM*/

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}


.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span {
    color: #B71515;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #B71515;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO PORTFOLIO*/

section.portfolio {
    padding: 90px 10%;
    box-shadow: 0 0 40px 10px #ffffff1d;

}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 100px;
    gap: 15px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 9s;
    cursor: pointer;
    border-radius: 35px;
    position: relative;

}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;

}

.overlay:hover {
    opacity: 1;
}


/* Estilos da galeria */
.galeria {
    display: none;
    /* Inicialmente oculta */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px 0;
    /* Adiciona um pouco de espaço superior e inferior */
}

.conteudo-galeria {
    position: relative;
    width: auto;
    /* Auto para ajustar ao conteúdo */
    max-width: 960px;
    /* Ajuste conforme necessário */
    margin: 5% auto;
    text-align: center;
}

/* Ajusta o tamanho da imagem principal para deixar espaço para as setas */
.galeria img {
    max-width: 700px;
    /* Pode ajustar de acordo com o tamanho desejado */
    height: auto;
    margin: 0 auto;
    /* Centraliza a imagem */
}

/* Estilização das setas */
.navegacao {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.anterior,
.proxima {
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    transition: color 0.3s;
    /* Suaviza a transição da cor */
}

.anterior:hover,
.proxima:hover {
    color: #B71515;
    /* Exemplo de alteração de cor no hover sem causar movimento */
    background-color: transparent;
}

/* Ajustes adicionais para garantir que as setas não se movam */
.navegacao button {
    position: absolute;
    /* Posicionamento absoluto para mais controle */
    top: 50%;
    transform: translateY(-50%);
}

.navegacao .anterior {
    left: calc(5% - 30px);
    /* Ajuste conforme necessário, usando calc() para posição precisa */
}

.navegacao .proxima {
    right: calc(5% - 30px);
    /* Ajuste conforme necessário */
}

/* Posiciona as setas fora da imagem principal */
.anterior {
    margin-left: -50px;
    /* Ajuste conforme necessário */
}

.proxima {
    margin-right: -50px;
    /* Ajuste conforme necessário */
}

.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    /* Espaço entre a imagem principal e as miniaturas */
}

.miniaturas img.ativa {
    border: 2px solid #B71515; /* Cor de destaque */
    box-shadow: 0 0 8px #B71515; /* Sombra leve */
}

/* Adiciona os estilos para o container das miniaturas */
.miniaturas-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content:left; /* Centraliza os itens (miniaturas) horizontalmente */
    gap: 10px; 
    padding: 10px 0;
}

.galeria-centralizada .miniaturas-container {
    justify-content: center;
}

#galeria2 .miniaturas-container {
    justify-content: center;
}

.miniaturas img {
    display: inline-block;
    width: 80px;
    height: auto;
    margin-right: 8px;
    cursor: pointer;
}

.navegacao {
    text-align: center;
    margin-top: 10px;
}

.navegacao button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.imagem-container {
    text-align: center;
}

.anterior,
.proxima {
    font-size: 50px;
    /* Tamanho aumentado das setas */
    cursor: pointer;
    color: white;
    /* Cor da seta */
    background-color: transparent;
    border: none;
    padding: 10px;
    /* Adicionado para aumentar a área clicável sem alterar o ícone em si */
}

/* Corrige a posição das setas para acomodar o novo tamanho */
.anterior {
    margin-left: -50px;
    /* Ajuste conforme necessário */
}

.proxima {
    margin-right: -50px;
    /* Ajuste conforme necessário */
}

.fechar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fundo semi-transparente */
    border-radius: 50%;
    /* Círculo */
    width: 40px;
    /* Tamanho */
    height: 40px;
    /* Tamanho */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ESTILO DO FORMULARIO*/

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #740808;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    ;
}

/*ESTILO DO RODAPÉ*/

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #B71515;
}

footer .line-footer p i {
    color: #740808;
    font-size: 25px;
}

footer .line-footer p a {
    color: #fff;
    font-size: 18px;
}


@media screen and (max-width:768px) {
    /*CLASSES GERAIS*/

    .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 30px;
        line-height: 30px;
    }

    .btn-abrir-menu {
        display: block;
    }

    /*CABEÇALHO8*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .menu-mobile.btn-abrir-menu~.overlay-menu {
        display: block;
    }

    /*TOPO DO SITE*/

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 25px;
    }

    

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /*ESPECIALIDADES*/

    section.especialidades {
        padding: 20px 8%;
    }

    .especialidades .especialidades-box {
        gap: 50px;
    }

    /*SOBRE*/

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .flex {
        flex-direction: column;
        align-items: center;
        text-align:center;
    }

    .sobre .txt-sobre h2 {
        font-size: 24px; /* Diminui o tamanho da fonte do título para telas pequenas */
    }

    .sobre .txt-sobre p {
        font-size: 16px; /* Ajusta o tamanho do texto para melhor leitura em dispositivos móveis */
        line-height: 1.5; /* Aumenta o espaçamento entre linhas para melhorar a legibilidade */
        letter-spacing: normal; /* Ajusta o espaçamento entre letras */
        word-spacing: normal; /* Ajusta o espaçamento entre palavras */
        text-align: left; /* ou 'left' para alinhar o texto à esquerda */
        text-justify: inter-word; /* Justifica o texto para melhorar a distribuição em linhas */
    }

    .btn-social button {
        margin: 0 10px; /* Adiciona espaço entre os botões sociais */
        width: 40px; /* Ajusta o tamanho dos botões sociais */
        height: 40px; /* Ajusta o tamanho dos botões sociais */
        padding: 0; /* Remove o padding padrão para manter o botão proporcional */
    }

    .btn-social i {
        font-size: 20px; /* Ajusta o tamanho do ícone dentro do botão */
    }

    .img-sobre img {
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    .galeria img {
        max-width: 90%;
        margin-top: 50px;
    }

    /* Ajusta a posição e tamanho do botão fechar para evitar sobreposição */
    .galeria .fechar {
        font-size: 25px;
        /* Tamanho do ícone */
        width: 35px;
        /* Largura do botão */
        height: 35px;
        /* Altura do botão */
        top: 10px;
        /* Posicionamento superior */
        right: 10px;
        /* Posicionamento à direita */
        padding: 5px;
        /* Espaçamento interno para facilidade de toque */
    }

    /* Ajusta a navegação para exibir as setas abaixo da imagem */
    .galeria .navegacao {
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: auto;
        transform: none;
        margin-top: 20px; /* Espaço entre a imagem e as setas */
    }

    /* Estiliza as setas para aparecerem uma ao lado da outra abaixo da imagem */
    .galeria .navegacao .anterior,
    .galeria .navegacao .proxima {
        position: relative;
        margin: 0 10px; /* Espaçamento entre as setas */
    }


    /* Ajustes adicionais para as miniaturas */
    .miniaturas img {
        width: 40px;
        /* Ajusta o tamanho das miniaturas */
        margin-right: 8px;
        /* Espaçamento entre miniaturas */
    }

    /* Adiciona um espaçamento adicional na parte inferior da galeria */
    .conteudo-galeria {
        margin-bottom: 50px;
        /* Espaço extra na parte inferior */
    }

    /*RODAPÉ*/

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

}